.cookie--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 20px 0 20px;
  color: white;
}

@media only screen and (max-width: 685px) {
  .cookie--page {
    margin-top: 15%;
  }
}

.introduction {
  display:block;
  margin-bottom: 20px;
}
