.card__container {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.card__container--content {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}
.card--title {
  padding: 8px 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.card--title:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card--item__container {
  margin: 0 4px;
  padding: 0 4px;
}
.card--item__container a {
  text-decoration: none;
  color: inherit;
}
.card--item__container a:hover {
  background-color: #f2f2f2;
}
.card--item__container-content {
  padding: 8px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.add-card {
  padding: 8px 10px;
  color: #838c91;
}
.add-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  text-decoration: underline;
}
